{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }],
    "@babel/preset-react"
  ],
  "plugins": [
    ["babel-plugin-styled-components", { "fileName": false }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "react-hot-loader/babel",
    ["module-resolver", { "root": ["./src"] }]
  ]
}
